.footer {
  border: 1px solid black;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: 40vh;
  margin-top: 100px;
  border-radius: 0px 0px 16px 16px;
}

.abstract,
.resources,
.community,
.company,
.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
}

.footer span {
  margin: 4px 0;
}

.company h2 {
  margin-top: 24px;
}

.copyright {
  margin-top: auto;
}
